.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 400;
}

.sidebar {
  /* background-color: lightgrey; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1206px;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
}
.NavLink {
  /* margin-right: 150px; */
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.active {
  color: #084fb9;
}

.logout-btn {
  color: black;
  background-color: #0d6efd;
  width: 100px;
  border-radius: 3px;
}
